[submodule "SchulzeMethod"]
	path = SchulzeMethod
	url = git@github.com:Eolien55/SchulzeMethod
[submodule "YoutubeDownloader"]
	path = YoutubeDownloader
	url = git@github.com:Eolien55/YoutubeDownloader
[submodule "PhotosManager"]
	path = PhotosManager
	url = git@github.com:Eolien55/PhotosManager
