Flask_WTF==0.14.3
pygame==2.0.1
selenium==3.141.0
Flask_Migrate==2.7.0
SpeechRecognition==3.8.1
playsound==1.2.2
wolframalpha==4.1.1
Flask_SQLAlchemy==2.4.4
colored==1.4.2
Flask==1.1.2
PyAutoGUI==0.9.52
pyttsx3==2.90
googletrans==3.1.0a0
wikipedia==1.4.0
numpy==1.20.1
Werkzeug==1.0.1
WTForms==2.3.3
requests==2.25.1
rsa==4.7
opencv_python==4.5.1.48
pytube3==9.6.4
click==7.1.2
beautifulsoup4==4.9.3
pytube==10.7.1
