selenium==3.141.0
Flask_Migrate==3.0.0
moviepy==1.0.3
colored==1.4.2
ttkthemes==3.2.2
Flask_WTF==0.14.3
playsound==1.2.2
Werkzeug==2.0.1
rsa==4.7.2
numpy==1.20.3
pyttsx3==2.90
wikipedia==1.4.0
hachoir==3.1.2
youtube_search==2.1.0
PyAutoGUI==0.9.52
Flask_SQLAlchemy==2.5.1
Flask==2.0.0
wolframalpha==5.0.0
click==8.0.1
googletrans==3.0.0
WTForms==2.3.3
pygame==2.0.1
pytube==10.8.5
SpeechRecognition==3.8.1
requests==2.25.1
beautifulsoup4==4.9.3
Pillow==8.2.0
