pygame==2.0.1
rsa==4.7.2
PyAutoGUI==0.9.53
click==8.0.1
ffmpeg_python==0.2.0
numpy==1.21.0
Flask==2.0.1
hachoir==3.1.2
Flask_WTF==0.15.1
pyttsx3==2.90
requests==2.26.0
wikipedia==1.4.0
colored==1.4.2
playsound==1.2.2
Flask_SQLAlchemy==2.5.1
googletrans==3.0.0
wolframalpha==5.0.0
WTForms==2.3.3
Flask_Migrate==3.0.1
Werkzeug==2.0.1
selenium==3.141.0
beautifulsoup4==4.9.3
ffmpeg==1.4
moviepy==1.0.3
Pillow==8.3.1
pytube==10.9.2
youtube_search==2.1.0
